.game-wrapper {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
body {
    background-color: #e0e0e0; 
}

.title-wrapper {
    grid-column: 2;
    grid-row: 1;
    padding-bottom: 5em;
}
.user-weapons {
    grid-column: 1;
    grid-row: 2;
}

.buttons:hover {
   
    border: black solid 7px
}

.result-wrapper {
    grid-column: 2;
    grid-row: 2;
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 1em;
}

.computer-weapons {
    grid-column: 3;
    grid-row: 2;
    
}
.center {
    justify-content: center;
    
}
.winner {
    justify-content: center;
}
li {
    list-style: none;
}

.border {
    border: black solid 4px;
}





